.p1{background-color: rgb(134, 236, 134);
color: rgb(66, 66, 236);}
.p2{background-color: rgb(77, 255, 201); 
color: rgb(4, 87, 4);}
.p3{background-color: rgb(167, 73, 255);
color: rgb(132, 206, 255);}