.caja1{
    font-size: x-large;
    background: blue;
    color: white;
    margin: 2px;
    display: inline;
}
.caja2{
    font-size: x-large;
    background: blue;
    color: white;
    margin: 2px;
    display: inline;
}

.caja3{
    font-size: x-large;
    background: blue;
    color: white;
    margin:2px;
    display: inline;
}