body{
    border-style: solid;
    border-color: rgb(72, 72, 209);
    width: 600px;
    padding-bottom: 20px;
}
.p{
    background-color: rgb(134, 249, 253);
    width: 500px;
    padding-bottom: 50px;
}
