div{
   display: inline;
   float: left;
   margin: 1em;
   padding: .3em;
   border: 2px solid #555;
   width: 150px;
   height: 250px;
   font: 1em Arial, Helvetica, sans-serif; 

}
#p1{
    overflow: visible;
}
#p2{
    overflow: hidden;
}
#p3{
    overflow: scroll;
}
h1{
    background-color: #c7c6c6;
    text-align: center;
}
