.p1{
    border: red solid 5px;
    width: 40%;
}
.p2{
    border: solid blue 3px;
    width: 40%;
}
.p3{
    border:solid yellow 1px;
    width: 40%;
}
.p4{
    border-style: dotted;
    border-left-color: yellow;
    border-right-color: green;
    border-top-color: red;
    border-bottom-color: blue;
    width: 40%; 
}
.p5{
    border-style: double;
    border-width: 10px;
    width: 40%;
}
.p6{
    border-style: double;
    width: 40%;
}
.p7{
    border-style: solid;
    border-left-width: 15px;
    border-right-width: 8px;
    border-top-width: 2px;
    border-bottom-width: 5px;
    width: 40%; 
}